

/*
colors : 
                #c5c1c0
light gray
                #0a1612
dark bluish
                #1a2930
denim color
                #f7ce3e
yellowish

*/
.home-header {
    padding: 150px 30px 100px 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align:center;
;
}

.home-header h1 {
    font-weight: bolder;

}

.home-header h2 { 
    font-size: 25px;
    font-weight: none;
   text-align:center;
}

