.customNB {
  background-color: black;
  color: white;
}
.logoPadding {
  padding-left: 40px;
  font-size: larger;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
  padding-left: 30px;
  font-size: 20px;
}

.text-link:hover {
  color: #c5c1c0;
  text-decoration: inherit;
  padding-left: 30px;
  font-size: 20px;
}
