.customNB {
  background-color: black;
  color: white;
}
.logoPadding {
  padding-left: 40px;
  font-size: 35px;
}
.logoPadding span{
  font-size: 35px;
}
.logoPadding span:hover {
  font-size: 35px;
  color: #9aee54;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
  padding-left: 50px;
  font-size: 25px;
}

.text-link:hover {
  color: #c7492a;
  text-decoration: inherit;
  padding-left: 50px;
  font-size: 25px;
}
