body,
html {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* my colors  */
/* {rgb(209, 0, 104)} */

.h1-title {
  font-size: 50px;
  text-align: center;
  margin: -20px 0 100px 0;
}

.section {
  width: auto;
  margin-top: 150px;
  margin-bottom: 200px;
}
.margin-right {
  margin-right: 15px;
  padding-bottom: 15px;
  justify-content: center;
  align-content: center;
}

.home-header {
  padding: 150px 30px 100px 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-header h1 {
  font-weight: bold;
}

.home-header {
  font-size: 25px;
  font-weight: none;
  text-align: center;
}

.customCard {
  padding: 15px;
  border: 10px solid gray;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.customCard img {
  width: 50%;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
}

.box-container {
  margin: auto;
  padding: 10px 10px;
  width: 400px;
  height: auto;
  font-size: 20px;
}

.card-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.card-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.card-exit {
  opacity: 1;
}

.card-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}
