.home-header {
    padding: 150px 30px 100px 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align:center;
;
}

.home-header h1 {
    font-weight: bold;
}

.home-header h2 { 
    font-size: 25px;
    font-weight: none;
   text-align:center;
}


.customCard {
    width: 300px;
    padding: 15px;
    border: 3px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}


.customCard img{
    width: 50%;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
}

.box-container {
    margin: auto;
    padding: 10px 10px;
    width: 400px;
    height: auto;
    font-size: 20px;    
}





.card-enter {
    opacity: 0;
    transform: translateX(-100%);
  }
  
  .card-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: 300ms ease-out;
  }
  
  .card-exit {
    opacity: 1;
  }
  
  .card-exit-active {
    opacity: 0;
    transition: 300ms ease-in;
  }